
    
#aboutus{
    font-weight:bold ;
 font-size: 70px;
padding-left:600px ;
padding-top: 100px;


}

.p1{
 text-align:center ;
    font-size: 23px;
}

.p2{
text-align:center;
    font-size: 23px;
}


.p3{
text-align:center;
    font-size: 23px;
}
.p4{
text-align:center;
    font-size: 23px;
}

#studs{
margin-top:30px;
margin-left:650px ;
font-size: 23px;

}


.site-footer{
   
    padding-top: 340px;
    
}

.footer{
 font-size:20px ;
padding-left: 700px;

}


